<section class="edit-artisan-form">
  <%= form_with(model: @user, url: artisan_profile_path, local: true, method: :patch) do |f| %>
    <div class="edit-artisan-form__profile">
      <%= f.fields_for :user_profile do |a| %>
        <div class="row">
          <h1 class="col-12 edit-artisan-form__profile__title">プロフィール</h1>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="firstName" class="col-xl-3 edit-artisan-form__input__title">氏名</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :family_name, class: "form-control edit-artisan-form__profile__input", id: "firstName", placeholder: "性", value: @user.user_profile.family_name %></p>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :last_name, class: "form-control edit-artisan-form__profile__input", id: "lastName", placeholder: "名", value: @user.user_profile.last_name  %></p>
          </div>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="firstNameSub" class="col-xl-3 edit-artisan-form__input__title">氏名(ふりがな)</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :family_name_sub, class: "form-control edit-artisan-form__profile__input", id: "firstName", placeholder: "せい", value: @user.user_profile.family_name_sub %></p>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :last_name_sub, class: "form-control edit-artisan-form__profile__input", id: "lastName", placeholder: "めい", value: @user.user_profile.last_name_sub  %></p>
          </div>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="Prefectures" class="col-xl-3 edit-artisan-form__input__title">都道府県</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :prefectures, class: "form-control edit-artisan-form__profile__input", id: "Prefectures", placeholder: "例）東京都" %></p>
          </div>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="AddNumber" class="col-xl-3 edit-artisan-form__input__title">郵便番号</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-5 edit-artisan-form__profile__input__wrap"><%= a.text_field :add_no, class: "form-control edit-artisan-form__profile__input", id: "AddNumber", placeholder: "例）0000000（ハイフン不要）" %></p>
          </div>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="address" class="col-xl-3 edit-artisan-form__input__title">住所</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-10 edit-artisan-form__profile__input__wrap"><%= a.text_field :address, class: "form-control edit-artisan-form__profile__input", id: "address", placeholder: "建物名までご記入ください" %></p>
          </div>
        </div>

        <div class="row edit-artisan-form__profile__wrap">
          <label for="phone_no1" class="col-xl-3 edit-artisan-form__input__title">電話番号</label>
          <div class="col-xl-9 d-flex">
            <div>
              <p class="edit-artisan-form__title1">必須</p>
              <p class="edit-artisan-form__title2">非公開</p>
            </div>
            <p class="col-xl-4 edit-artisan-form__profile__input__wrap"><%= a.text_field :phone_no1, class: "form-control edit-artisan-form__profile__input", id: "PhoneNumber1", placeholder: "例）00000000000(ハイフン不要)" %></p>
            <%= a.text_field :phone_no2, class: "form-control", id: "PhoneNumber2", placeholder: "例）00000000000(ハイフン不要)" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <h4 class="mb-3">職人プロフィール</h4>
      <%= f.fields_for :artisan_profile do |b| %>

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= b.label :workexp %>
          <%= b.text_field :workexp, class: "form-control", id: "workExp", placeholder: "", value: @user.artisan_profile.workexp %>
        </div>
        <div class="col-md-6 mb-3">
          <%= b.label :homeworkexp %>
          <%= b.text_field :homeworkexp, class: "form-control", id: "homeworkExp", placeholder: "", value: @user.artisan_profile.homeworkexp  %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
        <%= b.label :skill %>
          <%= b.text_field :skill, class: "form-control", id: "skill", placeholder: "" %>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">skill_free</label>
          <%= b.text_field :skill_free, class: "form-control", id: "skillFree", placeholder: ""  %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <%= b.label :skill_exp %>
          <%= b.text_field :skill_exp, class: "form-control", id: "skillExp", placeholder: "" %>
        </div>
      </div>

      <div class="mb-3">
          <%= b.label :genre %>
          <div class="field">
            <% ArtisanGenreList.all.each do |genreList| %>
              <%= b.check_box :artisan_genre_list_ids, { multiple: true, checked: @artisan_profile.artisan_genre_lists.find_by(id: genreList.id)
                  .present?, include_hidden: false }, genreList[:id] %>
              <%= genreList.genre_name %>
            <% end %>
          </div>
      </div>

      <div class="mb-3">
        <%= b.label :genre_free %>
        <%= b.text_field :genre_free, class: "form-control", id: "genre_free", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= b.label :item %>
        <div class="field">
          <% ArtisanItemList.all.each do |itemList| %>
            <%= b.check_box :artisan_item_list_ids, { multiple: true, checked: @artisan_profile.artisan_item_lists.find_by(id: itemList.id)
                .present?, include_hidden: false }, itemList[:id] %>
            <%= itemList.item_name %>
          <% end %>
        </div>
      </div>

      <div class="mb-3">
        <%= b.label :item_free %>
        <%= b.text_field :item_free, class: "form-control", id: "item_free", placeholder: "" %>
      </div>

      <div class="mb-3">
      <%= b.label :facillity %>
      <div class="field">
        <% ArtisanFacillityList.all.each do |facillityList| %>
          <%= b.check_box :artisan_facillity_list_ids, { multiple: true, checked: @artisan_profile.artisan_facillity_lists.find_by(id: facillityList.id)
              .present?, include_hidden: false }, facillityList[:id] %>
          <%= facillityList.facillity_name %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= b.label :facillity_free %>
        <%= b.text_field :facillity_free, class: "form-control", id: "facillity_free", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= b.label :workexp_text %>
        <%= b.text_field :workexp_text, class: "form-control", id: "workexp_text", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= b.label :mypr %>
        <%= b.text_field :mypr, class: "form-control", id: "mypr", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= b.label :myprofile %>
        <%= b.text_field :myprofile, class: "form-control", id: "myprofile", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= b.label :work_status %>
        <%= b.text_field :work_status, class: "form-control", id: "work_status", placeholder: "" %>
      </div>

      <div class="mb-3">
        <%= f.submit :"職人プロフィールを編集する", class: "btn btn-danger btn-lg btn-block mt-5" %>
        <%= link_to "戻る", user_path(current_user.id), class: "btn btn-primary btn-lg btn-block mt-3" %>
      </div>
      <% end %>
    </div>

  <% end %>
</section>
