<main class="container-fluid">
  <h1 class="row col-12 col-lg-10 my-page__title">職人情報</h1>

  <section>
    <%= form_with(model: @user, url: artisan_profile_path, local: true, method: :patch) do |f| %>
      <div class="row">

        <div class="col-md-8 order-md-2">
          <%= f.fields_for :user_profile do |a| %>
            <h4 class="mb-3">プロフィール</h4>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= a.label :family_name %>
                <%= a.text_field :family_name, class: "form-control", id: "firstName", placeholder: "例）山田", value: @user.user_profile.family_name, readonly: true %>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <%= a.text_field :last_name, class: "form-control", id: "lastName", placeholder: "例）太郎", value: @user.user_profile.last_name, readonly: true %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstNameSub">First name</label>
                <%= a.text_field :family_name_sub, class: "form-control", id: "firstName", placeholder: "例）やまだ", value: @user.user_profile.family_name_sub, readonly: true %>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <%= a.text_field :last_name_sub, class: "form-control", id: "lastName", placeholder: "例）たろう", value: @user.user_profile.last_name_sub, readonly: true  %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= a.label :add_no %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">〒</span>
                  </div>
                  <%= a.text_field :add_no, class: "form-control", id: "AddNumber", placeholder: "例）0000000（ハイフン不要）", readonly: true %>
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <%= a.label :prefectures %>
                <%= a.text_field :prefectures, class: "form-control", id: "Prefectures", placeholder: "例）東京都", readonly: true %>
              </div>
            </div>

            <div class="mb-3">
              <%= a.label :address %>
              <%= a.text_field :address, class: "form-control", id: "address", placeholder: "建物名までご記入ください", readonly: true %>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <%= a.label :phone_no1 %>
                <%= a.text_field :phone_no1, class: "form-control", id: "PhoneNumber1", placeholder: "例）00000000000(ハイフン不要)", readonly: true %>
              </div>

              <div class="col-md-6 mb-3">
                <%= a.label :phone_no2 %>
                <%= a.text_field :phone_no2, class: "form-control", id: "PhoneNumber2", placeholder: "例）00000000000(ハイフン不要)", readonly: true %>
              </div>
            </div>
          <% end %>

          <h4 class="mb-3">職人プロフィール</h4>
            <%= f.fields_for :artisan_profile do |b| %>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <%= b.label :workexp %>
                  <%= b.text_field :workexp, class: "form-control", id: "workExp", placeholder: "", value: @user.artisan_profile.workexp, readonly: true %>
                </div>
                <div class="col-md-6 mb-3">
                  <%= b.label :homeworkexp %>
                  <%= b.text_field :homeworkexp, class: "form-control", id: "homeworkExp", placeholder: "", value: @user.artisan_profile.homeworkexp, readonly: true  %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                <%= b.label :skill %>
                  <%= b.text_field :skill, class: "form-control", id: "skill", placeholder: "", readonly: true %>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">skill_free</label>
                  <%= b.text_field :skill_free, class: "form-control", id: "skillFree", placeholder: "" , readonly: true %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <%= b.label :skill_exp %>
                  <%= b.text_field :skill_exp, class: "form-control", id: "skillExp", placeholder: "", readonly: true %>
                </div>
              </div>

              <div class="mb-3">
                  <%= b.label :genre %>
                  <div class="field">
                    <% ArtisanGenreList.all.each do |genreList| %>
                      <%= b.check_box :artisan_genre_list_ids, { multiple: true, checked: @artisan_profile.artisan_genre_lists.find_by(id: genreList.id)
                          .present?, include_hidden: false }, genreList[:id] %>
                      <%= genreList.genre_name %>
                    <% end %>
                  </div>
              </div>

              <div class="mb-3">
                <%= b.label :genre_free %>
                <%= b.text_field :genre_free, class: "form-control", id: "genre_free", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= b.label :item %>
                <div class="field">
                  <% ArtisanItemList.all.each do |itemList| %>
                    <%= b.check_box :artisan_item_list_ids, { multiple: true, checked: @artisan_profile.artisan_item_lists.find_by(id: itemList.id)
                        .present?, include_hidden: false }, itemList[:id] %>
                    <%= itemList.item_name %>
                  <% end %>
                </div>
              </div>

              <div class="mb-3">
                <%= b.label :item_free %>
                <%= b.text_field :item_free, class: "form-control", id: "item_free", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
              <%= b.label :facillity %>
              <div class="field">
                <% ArtisanFacillityList.all.each do |facillityList| %>
                  <%= b.check_box :artisan_facillity_list_ids, { multiple: true, checked: @artisan_profile.artisan_facillity_lists.find_by(id: facillityList.id)
                      .present?, include_hidden: false }, facillityList[:id] %>
                  <%= facillityList.facillity_name %>
                <% end %>
              </div>

              <div class="mb-3">
                <%= b.label :facillity_free %>
                <%= b.text_field :facillity_free, class: "form-control", id: "facillity_free", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= b.label :workexp_text %>
                <%= b.text_field :workexp_text, class: "form-control", id: "workexp_text", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= b.label :mypr %>
                <%= b.text_field :mypr, class: "form-control", id: "mypr", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= b.label :myprofile %>
                <%= b.text_field :myprofile, class: "form-control", id: "myprofile", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= b.label :work_status %>
                <%= b.text_field :work_status, class: "form-control", id: "work_status", placeholder: "", readonly: true %>
              </div>

              <div class="mb-3">
                <%= link_to "職人プロフィールを編集画面", edit_artisan_profile_path(current_user.id), class: "btn btn-primary btn-lg btn-block mt-5" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</main>
