<div class="container">
  <h1>職人プロフィール登録</h1>
  <%= form_with(model: @artisan_profile, url: artisan_profile_path, local: true, method: :patch) do |a| %>
    <%= a.fields_for @user_profile do |b| %>
      <table>
      <h3>プロフィール編集</h3>
      <tr><td><% b.label :family_name %></td></tr>
      <tr><td><%= b.text_field :family_name , placeholder: :family_name %></td></tr>
      <tr><td><% b.label :last_name %></td></tr>
      <tr><td><%= b.text_field :last_name, placeholder: :last_name %></td></tr>
      <tr><td><% b.label :family_name_sub %></td></tr>
      <tr><td><%= b.text_field :family_name_sub, placeholder: :family_name_sub %></td></tr>
      <tr><td><% b.label :last_name_sub %></td></tr>
      <tr><td><%= b.text_field :last_name_sub, placeholder: :last_name_sub %></td></tr>
      <tr><td><% b.label :birthday %></td></tr>
      <tr><td><%= b.text_field :birthday, placeholder: :birthday %></td></tr>
      <tr><td><% b.label :add_no %></td></tr>
      <tr><td><%= b.text_field :add_no, placeholder: :add_no %></td></tr>
      <tr><td><% b.label :prefectures %></td></tr>
      <tr><td><%= b.text_field :prefectures, placeholder: :prefectures %></td></tr>
      <tr><td><% b.label :phone_no1 %></td></tr>
      <tr><td><% b.label :address %></td></tr>
      <tr><td><%= b.text_field :address, placeholder: :address %></td></tr>
      <tr><td><%= b.text_field :phone_no1, placeholder: :phone_no1 %></td></tr>
      <tr><td><% b.label :phone_no2 %></td></tr>
      <tr><td><%= b.text_field :phone_no2, placeholder: :phone_no2 %></td></tr>
    <% end %>
    
      <table>
      <h3>職人情報編集</h3>
      <tr><td><% a.label :workexp %></td></tr>
      <tr><td><%= a.text_field :workexp, placeholder: :workexp %>年</td></tr>
      <tr><td><% a.label :homeworkexp %></td></tr>
      <tr><td><%= a.text_field :homeworkexp, placeholder: :homeworkexp %>年</td></tr>
      <tr><td><% a.label :skill %></td></tr>
      <tr><td><%= a.text_field :skill, placeholder: :skill %></td></tr>
      <tr><td><% a.label :skill_free %></td></tr>
      <tr><td><%= a.text_field :skill_free, placeholder: :skill_free %></td></tr>
      <tr><td><% a.label :skill_exp %></td></tr>
      <tr><td><%= a.text_field :skill_exp, placeholder: :skill_exp %></td></tr>
      <tr><td><% a.label :genre %></td></tr>
      <tr><td><%= a.text_field :genre, placeholder: :genre %></td></tr>
      <tr><td><% a.label :genre_free %></td></tr>
      <tr><td><%= a.text_field :genre_free, placeholder: :genre_free %></td></tr>
      <tr><td><% a.label :item %></td></tr>
      <tr><td><%= a.text_field :item, placeholder: :item %></td></tr>
      <tr><td><% a.label :item_free %></td></tr>
      <tr><td><%= a.text_field :item_free, placeholder: :item_free %></td></tr>
      <tr><td><% a.label :facillity %></td></tr>
      <tr><td><%= a.text_field :facillity, placeholder: :facillity %></td></tr>
      <tr><td><% a.label :facillity_free %></td></tr>
      <tr><td><%= a.text_field :facillity_free, placeholder: :facillity_free %></td></tr>
      <tr><td><% a.label :mypr %></td></tr>
      <tr><td><%= a.text_field :mypr, placeholder: :mypr %></td></tr>
      <tr><td><% a.label :myprofile %></td></tr>
      <tr><td><%= a.text_field :myprofile, placeholder: :myprofile %></td></tr>
      <tr><td><% a.label :work_status %></td></tr>
      <tr><td><%= a.text_field :work_status, placeholder: :work_status %></td></tr>
   
    </table>
    <%= a.submit :"ユーザー登録する", class: "btn btn-info" %>
  <% end %>
</div>
