<main class="show-artisan-page">
  <h1 class="show-artisan-page__title">職人紹介&emsp;<%= link_to "職人一覧(仮置き)", artisan_profiles_path %><%= link_to "職人情報編集(仮置き)", edit_artisan_profile_path(current_user.id) %></h1>
  <div class="row show-artisan1">
    <div class="col-md-4">
      <div class="col-10 col-sm-8 col-md-12 col-lg-10 col-xl-8 show-artisan1__image__wrap">
        <p class="show-artisan1__image__decoration"><span class="show-artisan1__image__decoration__content"></span></p>
        <p class="show-artisan1__image"><%= @artisan_profile.artisan_image.to_s %></p>
        <p class="col-12 show-artisan1__image__decoration2"><%= @user_profile.family_name %>&ensp;<%= @user_profile.last_name %></p>
      </div>
    </div>

    <div class="col-md-8 col-lg-7 show-artisan1__wrap">
      <div class="row show-artisan1__content__wrap">
        <p class="col-md-2"></p>
        <div class="col-md-10">
          <p class="show-artisan1__content_sm"><%= @user_profile.family_name_sub %>&ensp;<%= @user_profile.last_name_sub %></p>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap2">
        <p class="col-md-3 col-lg-2 show-artisan1__title">名&emsp;前</p>
        <div class="col-md-9 col-lg-10">
          <p class="show-artisan1__content_sm2"><%= @user_profile.family_name_sub %>&ensp;<%= @user_profile.last_name_sub %></p>
          <p class="show-artisan1__content2"><%= @user_profile.family_name %>&ensp;<%= @user_profile.last_name %></p>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap3">
        <p class="col-md-3 col-lg-2 show-artisan1__title">ジャンル</p>
        <div class="col-md-9 col-lg-10">
          <% @artisan_genres.each do |genre| %>
            <p class="col-5 col-md-5 col-lg-4 show-artisan1__content3"><%= genre %></p>
          <% end %>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap3">
        <p class="col-md-3 col-lg-2 show-artisan1__title">設備</p>
        <div class="col-md-9 col-lg-10">
          <% @artisan_facillities.each do |facillity| %>
            <p class="col-md-5 col-lg-5 col-xl-4 show-artisan1__content3"><%= facillity %></p>
          <% end %>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap3">
        <p class="col-md-3 col-lg-2 show-artisan1__title">アイテム</p>
        <div class="col-md-9 col-lg-10">
          <% @artisan_items.each do |item| %>
            <p class="col-5 col-lg-3 col-xl-2 show-artisan1__content3"><%= item %></p>
          <% end %>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap3">
        <p class="col-md-3 col-lg-2 show-artisan1__title">スキル</p>
        <div class="col-md-9 col-lg-10">
          <p class="col-md-5 col-lg-3 col-xl-2 show-artisan1__content3 show-artisan1__content4 show-artisan1__content4_sm"><%= @artisan_profile.skill %></p>
          <p class="col-md-5 col-lg-3 col-xl-2 show-artisan1__content5">スキル年数</p>
          <p class="col-md-5 col-lg-3 col-xl-2 show-artisan1__content3 show-artisan1__content4"><%= @artisan_profile.skill_exp %>年</p>
        </div>
      </div>

      <div class="row show-artisan1__content__wrap3">
        <p class="col-md-3 col-lg-2"></p>
        <div class="col-md-9 col-lg-10">
          <p class="col-md-9 col-lg-10 show-artisan1__content6"><%= @artisan_profile.skill_free %></p>
        </div>
      </div>

    </div>
  </div>

  <div class="row show-artisan2">
    <p class="col-md-3 show-artisan2__title">経歴紹介</p>
    <p class="col-11 col-md-7 show-artisan2__content"><%= @artisan_profile.workexp_text %></p>
    <p class="col-md-3 show-artisan2__title">自己PR</p>
    <p class="col-11 col-md-7 show-artisan2__content"><%= @artisan_profile.mypr %></p>
    <p class="col-md-3 show-artisan2__title">自己紹介</p>
    <p class="col-11 col-md-7 show-artisan2__content"><%= @artisan_profile.myprofile %></p>
  </div>

</main>
