<main class="container-fluid ideas-page">
  <div class="row">
    <div class="col-12 ideas-page__header">
      <%= render "layouts/sort_bar" %>
    </div>
  </div>

  <div class="row col-12 col-md-11 col-lg-12 col-xl-10 idea-list__wrap">
    <div class="row col-12 idea-list_void"></div>
    <% @ideas.each do |i| %>
      <div class="idea-list col-9 col-sm-8 col-md-5 col-lg-3">
        <%= link_to idea_path(i.id), class: "idea-list__link" do %>
          <div class="row idea-list__bar">
            <p class="idea-list__bar__content"><%= i.idea_title %></p>
          </div>
          <div class="row">
            <span class="col-12 idea-list__image">画像</span>
          </div>
          <div class="row">
            <p class="idea-list__title"><%= i.idea_about %></p>
          </div>
          <div class="row idea-list__content">
            <div class="col-4 idea-list__content__wrap1">
              <p class="idea-list__content__icon__wrap"><%= svg("yen-sign-solid.svg", class: "idea-list__content__icon1") %></p>
              <p class="idea-list__content1">1,000</p>
            </div>
            <div class="col-4 idea-list__content__wrap2">
              <p class="col-4 idea-list__content__icon__wrap"><%= svg("box-solid.svg", class: "idea-list__content__icon2") %></p>
              <p class="idea-list__content2">30</p>
            </div>
            <div class="col-4 idea-list__content__wrap3">
              <p class="col-4 idea-list__content__icon__wrap"><%= svg("calendar-alt-regular.svg", class: "idea-list__content__icon3") %></p>
              <p class="idea-list__content3"></p>
            </div>
          </div>
          <%# <div class="row idea-list__bar2">&ensp;</div> %>
        <% end %>
      </div>
    <% end %>
    <div class="row col-12 idea-list_void"></div>
  </div>
</main>