<main class="container-fluid show-idea-page">
  <div class="row">
    <h1 class="col-12 show-idea-page__title">アイディア詳細</h1>
  </div>
  <div class="row show-idea-overview">
    <div class="col-12 col-lg-5 offset-lg-1">
      <h2 class="col-10 offset-1 show-idea-overview__title">フラダンス衣装</h2>
      <p class="col-10 offset-1 show-idea-overview__image">&emsp;</p>
    </div>
    <div class="col-10 col-lg-5 offset-1 offset-lg-0 show-idea-overview__wrap">
      <h3 class="show-idea-overview__title2">概要</h3>
      <p class="show-idea-overview__content">お仕事番号&thinsp;： <%= sprintf("%05d", @idea.id) %></p>
      <p class="show-idea-overview__content">&emsp;製品用途&thinsp;： <%= @idea.idea_usage %></p>
      <p class="show-idea-overview__content">納品希望日&thinsp;：<%= @idea.delivery_date.strftime("%Y-%m-%d (#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %></p>
      <p class="show-idea-overview__content">&emsp;公開期間&thinsp;：</p>
      <p class="show-idea-overview__content">&emsp;契約形態&thinsp;：<%= @idea.work_style %></p>
    </div>
  </div>
  <div class="row show-idea-list offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title">完成品イメージ</p>
    <p class="col-9 col-lg-8 show-idea-list__content"><%= @idea.product_image %></p>
  </div>
  <div class="row show-idea-list offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title">使う人</p>
    <p class="col-9 col-lg-8 show-idea-list__content">
      <% @idea.idea_user_ids.each do |idea_user_id| %>
        <span class="show-idea-list__content2"><%= IdeaUser.find_by(id: idea_user_id).name %></span>
      <% end %>
    </p>
  </div>
  <div class="row show-idea-list offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title">カテゴリ</p>
    <p class="col-9 col-lg-8 show-idea-list__content">
      <span class="show-idea-list__content2"><%= @idea.idea_category %></span><%= @idea.idea_category_details %>
    </p>
  </div>
  <div class="row show-idea-list offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title">素材</p>
    <p class="col-9 col-lg-8 show-idea-list__content"><%= @idea.idea_material %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title show-idea-list__title3">アイディア詳細</p>
    <p class="col-9 col-lg-3 col-xl-2 show-idea-list__title2">アイディアのタイトル</p>
    <p class="col-9 col-lg-6 show-idea-list__content3"><%= @idea.idea_title %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-2 col-xl-2 show-idea-list__title5">アイテム製作数量</p>
    <p class="col-9 col-lg-2 show-idea-list__content4"><%= @idea.idea_amount %>&thinsp;点</p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-2 col-xl-2 show-idea-list__title5">予算</p>
    <p class="col-9 col-lg-2 show-idea-list__content4"><%= @idea.budget %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-3 col-xl-2 show-idea-list__title2">アイテムの概要と仕様</p>
    <p class="col-9 col-lg-6 show-idea-list__content6"><%= @idea.idea_about %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-2 show-idea-list__title6">用途</p>
    <p class="col-9 col-lg-3 show-idea-list__content5"><%= @idea.idea_usage %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-2 show-idea-list__title6">契約形態</p>
    <p class="col-9 col-lg-3 show-idea-list__content5"><%= @idea.work_style %></p>
  </div>
  <div class="row show-idea-list show-idea-list__wrap offset-lg-1">
    <p class="col-9 col-lg-2 show-idea-list__title4"></p>
    <p class="col-9 col-lg-3 col-xl-2 show-idea-list__title2">職人へ伝えたいこと</p>
    <p class="col-9 col-lg-6 show-idea-list__content6"><%= @idea.idea_commit %></p>
  </div>
  <div class="show-idea-comment">
    <div class="col-12">
      <%= form_with(model: [@idea, @idea_comment] ) do |f| %>
        <p class="col-10 col-md-8 col-lg-7 col-xl-5 show-idea-comment__input__wrap"><%= f.text_area :content, class: "col-12 form-control show-idea-comment__input" %></p>
        <p class="col-6 col-md-4 col-lg-3 col-xl-2 show-idea-comment__button__wrap"><%= f.submit "コメントする", class: "col-lg-12 btn show-idea-comment__button" %></p>
      <% end %>
    </div>
    <div class="row show-idea-comment__wrap">
      <% @idea_comments.each do |idea_comment| %>
        <% unless idea_comment.id.nil? %>
          <div class="col-12">
            <p class="col-10 col-lg-1 show-idea-comment__user__wrap"><%= link_to idea_comment.user.name, user_path(idea_comment.user.id), class: "show-idea-comment__user" %></p>
            <p class="col-10 col-md-8 col-lg-6 show-idea-comment__content"><%= idea_comment.content %></p>
          </div>
          <div class="col-12">
            <% if idea_comment.user == current_user || @idea.user == current_user %>
              <p class="col-7 col-md-5 col-lg-3 show-idea-comment__delete-button__wrap"><%= link_to "コメントを削除する", idea_idea_comment_path(idea_comment.idea_id, idea_comment.id), method: :delete, remote: true, class: "col-12 col-lg-12 show-idea-comment__delete-button" %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</main>