<h1>アイデアの詳細</h1>

<%= @idea.idea_title %>
<%= @idea.idea_amount %>
<%= @idea.idea_about %>
<%= @idea.idea_usage %>
<%= @idea.idea_commit %>
<%= @idea.product_image %>
<% @idea.idea_user_ids.each do |idea_user_id| %>
  <label><%= IdeaUser.find_by(id: idea_user_id).name %></label>
<% end %>
<%= @idea.idea_category %>
<%= @idea.idea_category_details %>
<%= @idea.product_about %>

<%= link_to 'Edit', edit_idea_path(@idea) %>