<main class="container-fluid my-page">
  <h1 class="row col-12 col-lg-10 my-page__title">会員情報・住所確認/変更</h1>
  <div class="row">

    <%= render "layouts/profile_menu" %>

    <section class="col-10 col-md-6 offset-1 offset-md-0 my-page__form">
      <%= form_with(model: @user, url: user_path, local: true, method: :patch) do |f| %>
        <%= f.fields_for :user_profile do |a| %>
          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :family_name %>
              <%= a.text_field :family_name, class: "form-control my-page__form__input", placeholder: "例）山田", value: @user.user_profile.family_name, readonly: true %>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <%= a.label :last_name %>
              <%= a.text_field :last_name, class: "form-control my-page__form__input", placeholder: "例）太郎", value: @user.user_profile.last_name, readonly: true %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :family_name_sub %>
              <%= a.text_field :family_name_sub, class: "form-control my-page__form__input", placeholder: "例）やまだ", value: @user.user_profile.family_name_sub, readonly: true %>

              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <%= a.label :last_name_sub %>
              <%= a.text_field :last_name_sub, class: "form-control my-page__form__input", placeholder: "例）たろう", value: @user.user_profile.last_name_sub, readonly: true  %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :add_no %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">〒</span>
                </div>
                <%= a.text_field :add_no, class: "form-control my-page__form__input", placeholder: "例）000-0000", value: @user.user_profile.add_no, readonly: true %>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <%= a.label :prefectures %>
              <%= a.text_field :prefectures, class: "form-control my-page__form__input", placeholder: "例）東京都", value: @user.user_profile.prefectures, readonly: true %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <%= a.label :address %>
            <%= a.text_field :address, class: "form-control my-page__form__input",  placeholder: "建物名までご記入ください", value: @user.user_profile.address, readonly: true %>
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :phone_no1 %>
              <%= a.text_field :phone_no1, class: "form-control my-page__form__input", placeholder: "例）00000000000(ハイフン不要)", value: @user.user_profile.phone_no1, readonly: true %>
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <%= a.label :phone_no2 %>
              <%= a.text_field :phone_no2, class: "form-control my-page__form__input", placeholder: "例）00000000000(ハイフン不要)", value: @user.user_profile.phone_no2, readonly: true %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
          <div class="mb-3 my-page__form__button__wrap">
            <%= link_to "職人登録申請フォームへ", edit_artisan_profile_path(@user.id), class: "btn btn-info form-control my-page__form__button" %>
          </div>
        <% end %>
      <% end %>
    </section>
  </div>
</main>
