<div class="container">
  <div class="py-5 text-center">
    <h2></h2>
    <p class="lead"></p>
  </div>
  <%= form_with(model: @user, url: user_path, local: true, method: :patch) do |f| %>
    <div class="row">
      <div class="col-md-4 order-md-1 mb-4">
        <%= image_tag @user.image.to_s, class: "col-md-12" %>
        <%= f.file_field :image, class: "col-md-12" %>
        <h4 class="d-flex justify-content-between align-items-center mb-3 col-md-12">
          <%= f.text_field :name, class: "col-md-12" %>
        </h4>
      </div>


      <div class="col-md-8 order-md-1" >
        <%= f.fields_for :user_profile do |a| %>
          <h4 class="mb-3">ユーザー情報</h4>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :family_name %>
              <%= a.text_field :family_name, class: "form-control", id: "firstName", placeholder: "例）山田", readonly: true  %>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <%= a.text_field :last_name, class: "form-control", id: "lastName", placeholder: "例）太郎", readonly: true  %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstNameSub">First name</label>
              <%= a.text_field :family_name_sub, class: "form-control", id: "firstName", placeholder: "例）やまだ", readonly: true %>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <%= a.text_field :last_name_sub, class: "form-control", id: "lastName", placeholder: "例）たろう", readonly: true  %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :add_no %>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">〒</span>
                </div>
                <%= a.text_field :add_no, class: "form-control", id: "AddNumber", placeholder: "例）0000000（ハイフン不要）", readonly: true %>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <%= a.label :prefectures %>
              <%= a.text_field :prefectures, class: "form-control", id: "Prefectures", placeholder: "例）東京都", readonly: true %>
            </div>
          </div>

          <div class="mb-3">
            <%= a.label :address %>
            <%= a.text_field :address, class: "form-control", id: "address", placeholder: "建物名までご記入ください", readonly: true %>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <%= a.label :phone_no1 %>
              <%= a.text_field :phone_no1, class: "form-control", id: "PhoneNumber1", placeholder: "例）00000000000(ハイフン不要)", readonly: true %>
            </div>

            <div class="col-md-6 mb-3">
              <%= a.label :phone_no2 %>
              <%= a.text_field :phone_no2, class: "form-control", id: "PhoneNumber2", placeholder: "例）00000000000(ハイフン不要)", readonly: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <%= f.submit :"登録する", class: "btn btn-primary btn-lg btn-block mt-5" %>
  <% end %>
</div>
