<main class="container-fluid signup-page">
  <div class="signup">
    <div class="row">
      <h1 class="col-9 col-sm-8 col-md-7 col-lg-6 col-xl-5 signup__title">ブランドファンディングはあなたのやりたい事を応援します。仲間と一緒にアイディアをカタチに</h1>
    </div>
    <div class="col-12 signup-form">
      <%= form_with(model: @user, local: true) do |f| %>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |message| %>
            <ul>
              <li class="col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 signup__list">
                <%= svg("exclamation-circle-solid.svg", class: "signup__list__icon") %>
                <%= message %>
              </li>
            </ul>
          <% end %>
        <% end %>
        <p class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 signup-form__wrap"><%= f.text_field :name, class:"form-control signup-form__input", placeholder: "ニックネーム" %></p>
        <p class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 signup-form__wrap"><%= f.email_field :email, class:"form-control signup-form__input", placeholder: "メールアドレス" %></p>
        <p class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 signup-form__wrap"><%= f.password_field :password, class:"form-control signup-form__input", placeholder: "パスワード" %></p>
        <p class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-5 signup-form__wrap"><%= f.password_field :password_confirmation, class:"form-control signup-form__input", placeholder: "パスワード確認用" %></p>
        <p class="col-10 col-sm-7 offset-3 signup-form__about">登録は無料。年会費もかかりません。</p>

        <p class="col-10 col-sm-7 signup-form__privacy">「登録」のボタンを押すことにより、
          <%= link_to "利用規約", agreements_terms_of_service_path %>、
          <%= link_to "プライバシーポリシー", agreements_privacy_policy_path %>に同意したとみなします。
        </p>
        <p class="col-7 col-sm-5 col-md-4 col-lg-3 signup-form__button__wrap"><%= f.submit "登録", class: "col-12 btn signup-form__button" %></p>
      <% end %>
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <%= f.hidden_field :email, value: 'test@example.com' %>
        <%= f.hidden_field :password, value: '123456' %>
        <p class="col-7 col-sm-5 col-md-4 col-lg-3 signup-form__button__wrap">
          <%= f.submit "テストユーザーでログイン", class: "col-12 btn signup-form__button" %>
        </p>
      <% end %>
    </div>
  </div>
</main>