<div class="w980">
  <h1>Sign up</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.fields_for :user_profiles do |a| %>
      <h3>プロフィール編集</h3>
      <%= a.label :family_name %>
      <%= a.text_field :family_name %>
      <%= a.label :last_name %>
      <%= a.text_field :last_name %>
      <%= a.label :family_name_sub %>分
      <%= a.text_field :family_name_sub %>
      <%= a.label :last_name_sub %>
      <%= a.text_field :last_name_sub %>
    <% end %>

    <%= f.submit "ユーザー登録する" %>
  <% end %>
</div>
