<div class="container">
  <p>
  <strong>Image:</strong>
  <%= image_tag @user.image.to_s %>
  </p>
  <h1>user詳細画面</h1>
  <p>ニックネーム: <%= @user.name %></p>
  <p>登録メール: <%= @user.email %></p>
  
  <p>ふりがな：<%= @user.user_profile.family_name_sub %><%= @user.user_profile.last_name_sub %></p>
  <p>氏　　名： <%= @user.user_profile.family_name %><%= @user.user_profile.last_name %></p>
  <p>お誕生日：<%= @user.user_profile.family_name_sub %><%= @user.user_profile.last_name_sub %></p>
  <p>〒：<%= @user.user_profile.add_no %><p>都道府県：<%= @user.user_profile.prefectures %></p>
  <p>住所：<%= @user.user_profile.address %></p>
  <p>ご連絡先１：<%= @user.user_profile.phone_no1 %>ご連絡先２：<%= @user.user_profile.phone_no2 %></p> 

  <%= link_to 'プロフィール登録', edit_user_profile_path(@user.id), class: "btn btn-info" %>
  <%= link_to '職人申請', edit_artisan_profile_path(@user.id), class: "btn btn-info" %>
  <%= link_to 'ユーザーを削除する', user_path(@user.id), class: "btn btn-info", method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
  
</div>
