<div class="container">
  <h1>プロフィール</h1>
  <%= form_with(model: @user_profile, url: user_profile_path, local: true, method: :patch) do |a| %>
      <table>
      <h3>プロフィール編集</h3>
      <tr><td><% a.label :family_name %></td></tr>
      <tr><td><%= a.text_field :family_name , placeholder: :family_name %></td></tr>
      <tr><td><% a.label :last_name %></td></tr>
      <tr><td><%= a.text_field :last_name, placeholder: :last_name %></td></tr>
      <tr><td><% a.label :family_name_sub %></td></tr>
      <tr><td><%= a.text_field :family_name_sub, placeholder: :family_name_sub %></td></tr>
      <tr><td><% a.label :last_name_sub %></td></tr>
      <tr><td><%= a.text_field :last_name_sub, placeholder: :last_name_sub %></td></tr>
      <tr><td><% a.label :birthday %></td></tr>
      <tr><td><%= a.text_field :birthday, placeholder: :birthday %></td></tr>
      <tr><td><% a.label :add_no %></td></tr>
      <tr><td><%= a.number_field :add_no, placeholder: :add_no %></td></tr>
      <tr><td><% a.label :prefectures %></td></tr>
      <tr><td><%= a.text_field :prefectures, placeholder: :address %></td></tr>
      <tr><td><% a.label :address %></td></tr>
      <tr><td><%= a.text_field :address, placeholder: :address %></td></tr>
      <tr><td><% a.label :phone_no1 %></td></tr>
      <tr><td><%= a.number_field :phone_no1, placeholder: :phone_no1 %></td></tr>
      <tr><td><% a.label :phone_no2 %></td></tr>
      <tr><td><%= a.number_field :phone_no2, placeholder: :phone_no2 %></td></tr>
      </table>
    <%= a.submit :"ユーザー登録する", class: "btn btn-info", method: :patch %>
  <% end %>
</div>
