<div class="container">
  <h1>プロフィール</h1>
  <%= form_with(model: @user_profile, local: true) do |f| %>
    <%= f.fields_for :user_profile do |a| %>
      <table>
      <h3>プロフィール編集</h3>
      <tr><td><% a.label :family_name %></td></tr>
      <tr><td><%= a.text_field :family_name , placeholder: :family_name %></td></tr>
      <tr><td><% a.label :last_name %></td></tr>
      <tr><td><%= a.text_field :last_name, placeholder: :last_name %></td></tr>
      <tr><td><% a.label :family_name_sub %></td></tr>
      <tr><td><%= a.text_field :family_name_sub, placeholder: :family_name_sub %></td></tr>
      <tr><td><% a.label :last_name_sub %></td></tr>
      <tr><td><%= a.text_field :last_name_sub, placeholder: :last_name_sub %></td></tr>
      <tr><td><% a.label :birthday %></td></tr>
      <tr><td><%= a.text_field :birthday, placeholder: :birthday %></td></tr>
      <tr><td><% a.label :add_no %></td></tr>
      <tr><td><%= a.text_field :add_no, placeholder: :add_no %></td></tr>
      <tr><td><% a.label :prefectures %></td></tr>
      <tr><td><%= a.text_field :prefectures, placeholder: :prefectures %></td></tr>
      <tr><td><% a.label :phone_no1 %></td></tr>
      <tr><td><%= a.text_field :phone_no1, placeholder: :phone_no1 %></td></tr>
      <tr><td><% a.label :phone_no2 %></td></tr>
      <tr><td><%= a.text_field :phone_no2, placeholder: :phone_no2 %></td></tr>
      </table>
    <% end %>
    <%= f.submit :"ユーザー登録する", class: "btn btn-info", method: "post" %>
  <% end %>
</div>
