<nav class="col-10 col-md-5 col-lg-4 col-xl-3 menu offset-1 offset-md-0">
  <ul>
    <li class="menu__user_image"><%= image_tag @user.image.to_s %></li>
    <li class="menu__user_name"><%= @user.name %></li>
    <li class="menu__li menu__li_border-top">
      <div class="card card-body menu__list__project">
        <button type="button" class="menu__button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
          <h1 class="menu__title"><span class="menu__item">▼</span>&ensp;プロジェクト管理</h1>
        </button>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          <p class="menu__list"><%= link_to "プロジェクト新規作成", new_project_path, class: "menu__link menu__link__project", data: {"turbolinks" => false} %></p>
          <p class="menu__list"><%= link_to "プロジェクト一覧", projects_path, class: "menu__link menu__link__project" %></p>
        </div>
      </div>
    </li>
    <li class="menu__li">
      <div class="card card-body menu__list__idea">
        <button type="button" class="menu__button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
          <h1 class="menu__title"><span class="menu__item">▼</span>&ensp;アイディア管理</h1>
        </button>
      </div>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <p class="menu__list"><%= link_to "アイディア新規作成", new_idea_path, class: "menu__link menu__link__idea", data: {"turbolinks" => false} %></p>
          <p class="menu__list"><%= link_to "アイディア一覧", ideas_path, class: "menu__link menu__link__idea" %></p>
        </div>
      </div>
    </li>
    <li class="menu__li">
      <div class="card card-body menu__list__sponsor">
        <button type="button" class="menu__button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
          <h1 class="menu__title"><span class="menu__item">▼</span>&ensp;スポンサー管理</h1>
        </button>
      </div>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          <p class="menu__list menu__link__sponsor">スポンサー</p>
          <p class="menu__list menu__link__sponsor">スポンサー</p>
        </div>
      </div>
    </li>
    <li class="menu__li menu__li__favorite">
    <%= link_to project_likes_path(@user.id), class: "menu__title-2__link" do %>
      <h1 class="menu__title-2 menu__li__favorite">お気に入りプロジェクト</h1>
    <% end %>
    </li>
    <li class="menu__li menu__li__follow">
      <%= link_to relationships_path(@user.id), class: "menu__title-2__link" do %>
        <h1 class="menu__title-2 menu__li__follow">フォローしたオーナー</h1>
      <% end %>
    </li>
    <%# <li class="menu__li menu__li__favorite">
      <h1 class="menu__title-2 menu__li__favorite">お気に入りデザイナー</h1>
    </li> %>
    <li class="menu__li menu__li__user">
      <%= link_to edit_user_profile_path(@user.id), class: "menu__title-2__link" do %>
        <h1 class="menu__title-2 menu__li__user">会員情報変更</h1>
      <% end %>
    </li>
  </ul>
</nav>
