<!DOCTYPE html>
<html>
  <head>
    <title>BRANDFUNDING</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-1">
      <h1><%= link_to "BRAND FUNDING", root_path, class: "header-1__title" %></h1>
      <% flash.each do |key, value| %><%= content_tag(:div, value, class: "#{key} header-1__flash") %><% end %>
      <% if logged_in? %>
        <%= link_to "プロフィール", user_path(current_user.id), class: "header-1__column" %>
        <%= link_to "職人情報", artisan_profile_path(current_user.id), class: "header-1__column2" %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "header-1__column3" %>
      <% else %>
        <%= link_to "ユーザー登録", new_user_path, class: "header-1__column" %>
        <%= link_to "ログイン", new_session_path, class: "header-1__column3" %>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer-1">
      <h2><%= link_to "BRAND FUNDING", root_path, class: "footer-1__title" %></h2>
      <p class="footer-1__column">ご利用規約</p>
      <p class="footer-1__column">|</p>
      <p class="footer-1__column">プライバシーポリシー</p>
      <p class="footer-1__column">|</p>
      <p class="footer-1__column">運営会社</p>
    </footer>
  </body>
</html>
