<!DOCTYPE html>
<html>
  <head>
    <title>BRUNDFUNDING</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <head>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">Bootstrap</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              
            </button>
            <% if logged_in? %>
              <a class="navbar-brand"><%= "#{current_user.name}" %>のBRUNDFUNDING</a>
            <% else %>
              <a class="navbar-brand">BRUNDFUNDING</a>
            <% end %>
          </div>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to"トップ", root_path %></li>
            </ul>
            <ul class="nav navbar-nav">
              <% if logged_in? %>
                <li><%= link_to "Profile", user_path(current_user.id) %></li>
                <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
                
              <% else %>
                <li><%= link_to "Sign up", new_user_path %></li>
                <li><%= link_to "Login", new_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </head>
    <%= yield %>
  </body>
</html>

