<!DOCTYPE html>
<html>
  <head>
    <title>BRANDFUNDING</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-1">
      <nav class="navbar navbar-expand-sm">
        <h1><%= link_to 'BRANDFUNDING', root_path, class: "header-1__navlink header-1__title" %></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><%= link_to "プロフィール", user_path(current_user.id), class: "header-1__navlink" %></li>
              <li><%= link_to "職人情報", artisan_profile_path(current_user.id), class: "header-1__navlink" %></li>
              <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "header-1__navlink" %></li>
            <% else %>
              <li><%= link_to "ユーザー登録", new_user_path, class: "header-1__navlink" %></li>
              <li><%= link_to "ログイン", new_session_path, class: "header-1__navlink" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <% flash.each do |key, value| %><%= content_tag(:div, value, class: "#{key} flash") %><% end %>

    <%= yield %>

    <footer class="container-fluid footer-1">
      <div class="row footer-1__wrap">
        <h2 class="col-3"><%= link_to "BRAND FUNDING", root_path, class: "footer-1__title" %></h2>
        <div class="footer-1__column__wrap">
          <span class="col-2 footer-1__column">ご利用規約&ensp;</span>
          <span class="footer-1__column">|&ensp;</span>
          <span class="col-2 footer-1__column">プライバシーポリシー&ensp;</span>
          <span class="footer-1__column">|&ensp;</span>
          <span class="col2 footer-1__column">運営会社</span>
        </div>
      </div>
    </footer>
  </body>
</html>
